
.main-header{
    background-color: aliceblue;
    padding: 30px;
}

.main-header > ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.main-header > ul > li{
    outline: none;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}
